<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

	<hibernate-configuration>
	<session-factory>

		<property name="hibernate.connection.url">jdbc:postgresql://Revaturejava0621.cmtwcjnphlh8.us-east-1.rds.amazonaws.com:5432/ersdb</property>

	 		<!-- This is the connection information -->
		<property name="hibernate.connection.username">p1</property>
		<property name="hibernate.connection.password">password</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		
		<property name="hibernate.connection.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		
		<property name="hibernate.connection.pool_size">10</property>
		
		<property name="hibernate.hbm2ddl.auto">update</property>
		
	 
		<!-- Mention here all the model classes along with their package name --> 
		<mapping class="ers.model.Users"/>
		<mapping class="ers.model.Reimb"/>
		<mapping class="ers.model.UserRole"/>
		<mapping class="ers.model.ReimbStatus"/>
		<mapping class="ers.model.ReimbType"/>
	</session-factory> 
</hibernate-configuration>