<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
  <welcome-file-list>
    <welcome-file>resources/html/index.html</welcome-file>
  </welcome-file-list>
	<servlet>
		<display-name>MasterView</display-name>
		<servlet-name>MasterView</servlet-name>
		<servlet-class>ers.servlet.MasterView</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>MasterView</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>MasterJSON</display-name>
		<servlet-name>MasterJSON</servlet-name>
		<servlet-class>ers.servlet.MasterJSON</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MasterJSON</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>

</web-app>