@charset "ISO-8859-1";

@media screen {
	body {
		background-color: #222;
		color: #fff;
		font-family: sans-serif;
		font-size: 125%;
		margin-left: 3%;
		margin-right: 2%;
	}
	nav ul {
		list-style: none;
	}
	a {
		text-decoration: none;
	}
	a:visited {
		color: #008;
	}
	nav ul {
		list-style: none;
	}
	header {
		background-color: #242;
	}
	header h2 {
		text-align: center;
		color: #fff;
	}
}

@media print {
	body {
		background-color: #fff;
		color: #000;
		font-family: sans-serif;
	}
	header {
		display: none;
	}
	footer {
		display: none;
	}
}